
 ol {
    counter-reset: li;
    list-style: none; 
    *list-style: decimal; 
    font: 18px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 1em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.roundedList a {
    position: relative;
    display: inline-block;
    padding: .4em .4em .4em 3em;
    *padding: .2em;
    margin: 0.6em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.roundedList a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -0.3em;
    right: 4em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.roundedList a:hover{
    background: #eee;
}

.roundedList a:hover:before{
    transform: rotate(360deg);  
}

.roundedList img {
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  position: center;
  opacity: 0.3;
}

.roundedList img:hover {
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  position: center;
    opacity: 1;
}

.roundedList img:before {
  transform: rotate(45deg);
}

.roundedList img:after {
  transform: rotate(-45deg);
}